RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?fastearning.online$
RewriteCond %{REQUEST_URI} !^/member/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /member/$1
RewriteCond %{HTTP_HOST} ^(www.)?fastearning.online$
RewriteRule ^(/)?$ member/index.php [L]
